.git
.github
.turbo
.docker-data
.idea
.vscode
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/*.tsbuildinfo
**/*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
docs
*.pem
.vercel
.docker-data
